<h2>US Presidents</h2>

Data Source: [Kaggle](https://www.kaggle.com/datasets/georgescutelnicu/us-presidents)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('presidents.csv').set_index('No.')
df.shape

(46, 19)

In [3]:
df.head(6)

,Name,Birthplace,Birthday,Life,Height,Children,Religion,Higher Education,Occupation,Military Service,Term,Party,Vice President,Previous Office,Economy,Foreign Affairs,Military Activity,Other Events,Legacy
No.,,,,,,,,,,,,,,,,,,,
1,George Washington,"Pope's Creek, VA",22-Feb,1732-1799,1.88,0,Episcopalian,None,"Plantation Owner, Soldier",Commander-in-Chief of the Continental Army in...,1789-1797,"None, Federalist",John Adams,Commander-in-Chief,"[' Hamilton established BUS', '1792 Coinage Ac...",['1793 Neutrality in the France-Britain confli...,['1794 Whiskey Rebellion'],"['1791 Bill of Rights', '1792 Post Office foun...",He is universally regarded as one of the great...
2,John Adams,"Braintree, MA",30-Oct,1735-1826,1.70,5,Unitarian,Harvard,"Lawyer, Farmer",none,1797-1801,Federalist,Thomas Jefferson,1st Vice President of USA,['1798 Progressive land value tax of up to 1% ...,['1797 the XYZ Affair: a bribe of French agent...,['1798â€“1800 The Quasi war. Undeclared naval wa...,['1798 Alien & Sedition Act to silence critics...,One of the most experienced men ever to become...
3,Thomas Jefferson,"Goochland County, VA",13-Apr,1743-1826,1.89,6,unaffiliated Christian,College of William and Mary,"Inventor,Lawyer, Architect",Colonel of Virginia militia (without real mili...,1801-1809,Democratic-Republican,"Aaron Burr, George Clinton",2nd Vice President of USA,['1807 Embargo Act forbidding foreign trade in...,['1805 Peace Treaty with Tripoli. Piracy stopp...,['1801-05 Naval operation against Tripoli and ...,"['1803 The Louisiana purchase', '1804 12th Ame...",Probably the most intelligent man ever to occ...
4,James Madison,"Port Conway, VA",16-Mar,1751-1836,1.63,0,Episcopalian,Princeton,"Plantation Owner, Lawyer",Colonel of Virginia militia (without real mili...,1809-1817,Democratic-Republican,"George Clinton, Elbridge Gerry",Secretary of State,[' The first U.S. protective tariff was impose...,['1814 The Treaty of Ghent ends the War of 1812'],['1811 Tippecanoe battle (Harrison vs. Chief T...,['1811 Cumberland Road construction starts (fi...,His leadership in the War of 1812 was particul...
5,James Monroe,"Monroe Hall, VA",28-Apr,1758-1831,1.83,2,Episcopalian,College of William and Mary,"Plantation Owner, Lawyer",Major of the Continental Army,1817-1825,Democratic-Republican,Daniel Tompkins,Secretary of War,['1819 Panic of 1819 (too much land speculatio...,"['1823 Monroe Doctrine', '1818 49th parallel s...",['1817 1st Seminole war against Seminole India...,"['1819 Florida ceded to US', ""1820 Missouri Co...",His presidency contributed to national defense...
6,John Quincy Adams,"Braintree, MA",11-Jul,1767-1848,1.70,4,Unitarian,Harvard,"Lawyer, Diplomat",none,1825-1829,Democratic-Republican,John Calhoun,Secretary of State,"[' ""Internal improvements"" program (roads, por...",['Unsuccessful attempt to purchase Texas from ...,['None'],"[' Accused for ""corrupt bargain"" to obtain Cla...","He had been an excellent Secretary of State, m..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 1 to 46
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               46 non-null     object
 1   Birthplace         46 non-null     object
 2   Birthday           46 non-null     object
 3   Life               46 non-null     object
 4   Height             46 non-null     float64
 5   Children           46 non-null     int64
 6   Religion           46 non-null     object
 7   Higher Education   46 non-null     object
 8   Occupation         46 non-null     object
 9   Military Service   46 non-null     object
 10  Term               46 non-null     object
 11  Party              46 non-null     object
 12  Vice President     46 non-null     object
 13  Previous Office    46 non-null     object
 14  Economy            46 non-null     object
 15  Foreign Affairs    46 non-null     object
 16  Military Activity  46 non-null     object
 17  Other Events       46 non-null     object
 18  Legacy             46 non-null     object
dtypes: float64(1), int64(1), object(17)
memory usage: 7.2+ KB

In [5]:
#quick preview of all data
df.describe(include='all')

,Name,Birthplace,Birthday,Life,Height,Children,Religion,Higher Education,Occupation,Military Service,Term,Party,Vice President,Previous Office,Economy,Foreign Affairs,Military Activity,Other Events,Legacy
count,46,46,46,46,46.000000,46.000000,46,46,46,46,46,46,46,46,46,46,46,46,46
unique,45,43,44,44,NaN,NaN,12,33,34,27,46,8,43,44,44,46,40,46,45
top,Grover Cleveland,"Braintree, MA",18-Mar,1837-1908,NaN,NaN,Episcopalian,None,Lawyer,none,1789-1797,Republican,none,Secretary of State,['None'],['1793 Neutrality in the France-Britain confli...,['None'],"['1791 Bill of Rights', '1792 Post Office foun...",none
freq,2,2,2,2,NaN,NaN,11,10,8,15,1,19,4,2,3,1,7,1,2
mean,NaN,NaN,NaN,NaN,1.799565,3.108696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,0.069249,2.068045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.630000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,1.750000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.800000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,1.845000,4.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,1.930000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>Data Wrangling</h3>

- extract state from `birthplace` <br>
- seperate `life` details to `birth_year` + `death_year` columns <br>
- convert `height` from meters to feet <br>
- create term column (one vs two terms) <br>

In [6]:
# removing some unneeded columns before starting some transformations
columns_drop = ['Military Service', 'Vice President', 'Economy',
       'Foreign Affairs', 'Military Activity', 'Other Events']

df = df.drop(columns=columns_drop)

In [7]:
# confirming updates
df.shape

(46, 13)

In [8]:
#updating data types in order to use string specific methods
df = df.astype({
    'Name': 'string',
    'Birthplace': 'string',
    'Life': 'string',
    'Children': 'int',
    'Religion': 'string',
    'Higher Education': 'string',
    'Occupation': 'string',
    'Term': 'string',
    'Party': 'string',
    'Legacy': 'string'
})

<p> Splitting a few records into individual columns.

In [9]:
df[['city_of_birth', 'state_of_birth']] = df['Birthplace'].str.split(",", n=1, expand=True)

In [10]:
df[['dob_day', 'dob_month']] = df['Birthday'].str.split('-', n=1, expand=True)

In [11]:
df[['year_of_birth', 'year_of_death']] = df['Life'].str.split('-', n=1, expand=True)

In [12]:
#now convert months into numberical month value (so I can merge to make DOB)
months = {
    'Feb': 2,
 'Oct': 10,
 'Apr': 4,
 'Mar': 3,
 'Jul': 7,
 'Dec': 12,
 'Nov': 11,
 'Jan': 1,
 'Aug': 8,
 'Sep': 9,
 'May': 5,
 'Jun': 6
}

In [13]:
#temp variable for the month
df['num_month'] = df.dob_month.map(months)

In [14]:
#converting height in meters to feet and inches
def height(meters):
    feet = int(meters / 0.3048)
    inches = int(meters / 0.3048 % 1 * 12)
    new_height = float(f'{feet}.{inches}') #combining feet + inches into one variable
    return new_height

df['new_height'] = df["Height"].apply(height)

In [15]:
df.columns

Index(['Name', 'Birthplace', 'Birthday', 'Life', 'Height', 'Children',
       'Religion', 'Higher Education', 'Occupation', 'Term', 'Party',
       'Previous Office', 'Legacy', 'city_of_birth', 'state_of_birth',
       'dob_day', 'dob_month', 'year_of_birth', 'year_of_death', 'num_month',
       'new_height'],
      dtype='object')

In [16]:
df['year_of_birth'] = df['year_of_birth'].astype('Int64')